{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Salgadif</title>
</head>
{% block content %}
<body>
    <div class="wrapper">
        <form class="form-signin" method="POST" action="/">       
          <h4 class="form-signin-heading">Fazer Pedido</h4>
          <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required><br>
          <input type="number" class="form-control" id="semestre" name="semestre" placeholder="Semestre" required><br>      
          <button class="btn btn-success" type="submit">Continuar</button>
          <a style="color: black;" href="{{ url_for('login') }}">Entrar como administrador</a>
        </form>     
      </div>
</body>
{% endblock %}
</html>
